/* CUSTOM STYLES */

/***** Base styles *****/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 1.2em;
  line-height: 1.4;
  margin: 0 auto;
}
img {
  max-width: 100%;
}

/* Typography */

/* make a grid */

[class*='col-'] {
  float: left;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid {
  margin-left: -10px;
  margin-right: -10px;  
}
[class*='col-'] {
  padding-left: 10px;
  padding-right: 10px;
}    
.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

/***** Header *****/

.header {
  border-bottom: 1px solid rgba(255,255,255.1);
  padding: 53px 0 57px 0;
}

/* Hero banner */

.hero {
  background: #000 url("img/hero-bg.jpg") no-repeat fixed center; 
  padding-bottom: 241px;
}
.hero-content {
  text-align: center;
}
.hero-headline {
  color: #fff;
  font-size: 32px;
  font-weight: normal;
  line-height: 50px;
  padding-bottom: 47px;
  padding-top: 129px;
}
.btn-yellow {
  background-color: #ffc303;
  border-radius: 25px;
  color: #000;
  font-size: 13px;
  font-weight: bold;
  padding: 15px 27px;
  text-decoration: none;
  text-transform: uppercase;
}



/***** Content *****/

/* Testimonials */
.quotes {
  display: none;
}

/***** Footer *****/




/* ==========================================================================
   Media Queries for Responsive Design
   ========================================================================== */

/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 375px) {
  /* Style adjustments for viewports that meet the condition */
  [class*='col-'] {
    width: 100%;
  }    
}