/* CUSTOM STYLES */

/***** Base styles *****/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 1.2em;
  line-height: 1.4;
  margin: 0 auto;
}
img {
  max-width: 100%;
}

/* Typography */
h2 {
  font-size: 32px;
  font-weight: normal;
}
p {
  color: #54545c;
  font-size: 14px;
}
a:hover {
  opacity: .8;
}

/* make a grid */

[class*='col-'] {
  float: left;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid {
  margin-left: -10px;
  margin-right: -10px;  
}
[class*='col-'] {
  padding-left: 10px;
  padding-right: 10px;
}    
.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
section {
  padding: 85px 0;
}

/***** Header *****/

.header {
  border-bottom: 1px solid rgba(255,255,255.1);
  padding-bottom: 57px;
}

/* Hero banner */

.hero {
  background: #000 url("img/hero-bg.jpg") no-repeat fixed center; 
  padding-bottom: 241px;
  padding-top: 53px;
}
.hero-content {
  text-align: center;
}
.hero-headline {
  color: #fff;
  font-size: 32px;
  font-weight: normal;
  line-height: 50px;
  padding-bottom: 47px;
  padding-top: 129px;
}
.btn {
  border-radius: 25px;
  color: #000;
  font-size: 13px;
  font-weight: bold;
  padding: 15px 27px;
  text-decoration: none;
  text-transform: uppercase;  
}
.btn-yellow {
  background-color: #ffc303;
}
.btn-outline {
  border: 3px solid #000;
}
/***** Content *****/

.team .first, .contact .first {
  text-align: center;
}
/* About section */

.tubemogal-container {
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin-bottom: 50px;
  padding-bottom: 53px;
  width: 80%;
}

.tubemogal-logo {
  padding-bottom: ;
}

/* Team section */
.team {
  background-color: #f2f2f2;
}
.md-trigger:hover {
  opacity: .8;
  cursor: pointer;
}
.team .col-1-3 {
  text-align: center;
}
.team-name, team-title {
  font-weight: bold;
  font-style: italic;
}
.team-role {
  font-weight: light;
  font-style: italic;
}
.md-content img {
    float: left;
    padding-right: 20px;
}
/* News section */
.news {
  background-color: #e6e6e6;
}
.excerpt {
  font-size: 1em;
}
.news-article {
  padding: 0 10%;
}
/* extra white space appearing between sections - temp fix */
.team, .news {
  margin-bottom: -24px;
}
.contact {
  background-color: #d9d9d9;
}
/* Testimonials section */
.testimonials {
 background-color: #ffc104; 
}
.quotes {
  color: #000;
  display: none;
  font-size: 1em;
}

/***** Footer *****/
.social-links {
  float: left;
  padding-top: 10px;
}
.copyright {
  float: right;
}


/* ==========================================================================
   Media Queries for Responsive Design
   ========================================================================== */

/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 375px) {
  /* Style adjustments for viewports that meet the condition */
  [class*='col-'] {
    width: 100%;
  }    
}